@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
  --color-bluesky: rgb(10, 122, 255);
}

@layer base {
  html.dark .img-light,
  html.dark [img-light] {
    display: none;
  }

  html:not(.dark) .img-dark,
  html:not(.dark) [img-dark] {
    display: none;
  }

  *,
  *::before,
  *::after {
    @apply border-gray-200 dark:border-zinc-800;
  }

  body {
    text-rendering: optimizeLegibility;
  }

  [class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    vertical-align: text-bottom;
  }
}

@layer components {
  .extended-wrapper {
    @apply lg:scale-120 md:scale-110;
  }

  .extended-py {
    @apply md:py-5 lg:py-12;
  }

  .extended-pt {
    @apply md:pt-5 lg:pt-12;
  }

  article {
    @apply space-y-6;

    p {
      @apply text-gray-800 leading-snug dark:text-zinc-300;
    }
    h1 {
      @apply my-4 text-xl font-medium dark:text-white;
    }
    h2 {
      @apply mb-3 text-lg font-medium dark:text-white;
    }
    h3 {
      @apply mb-3 font-medium dark:text-white;
    }
    h4,
    h5,
    h6 {
      @apply my-4 mb-3 font-medium dark:text-white;
    }

    strong {
      @apply font-medium dark:text-white;
    }

    hr {
      @apply mx-auto w-14 border border-gray-300 dark:border-zinc-700;
    }

    blockquote {
      @apply ml-[0.075em] border-l-3 border-gray-300 pl-4 text-gray-700 dark:border-zinc-600 dark:text-zinc-300;
    }
    a {
      @apply text-blue-500 hover:underline dark:text-blue-400;
    }
    table {
      @apply my-4 w-full table-auto border-collapse text-sm;
      th {
        @apply border-b border-gray-200 p-4 text-left font-medium dark:border-zinc-700;
      }
      td {
        @apply border-b border-gray-200 bg-zinc-50 p-4 dark:border-zinc-700 dark:bg-zinc-800;
      }
    }
    ol {
      @apply list-decimal space-y-2 pl-5 text-gray-800 dark:text-zinc-300;
    }
    ul {
      @apply list-disc space-y-1 pl-5 text-gray-800 dark:text-zinc-300;
    }
    li {
      @apply pl-1;
    }
    kbd {
      @apply rounded border border-b-2 border-gray-300 bg-gray-100 px-1 py-0.5 font-mono text-xs font-medium text-black dark:border-zinc-700 dark:bg-zinc-800 dark:text-white;
    }
    .katex-display {
      @apply overflow-x-auto overflow-y-hidden py-4;
    }

    mark {
      @apply dark:bg-yellow-500/50 dark:text-white;
    }

    figure {
      @apply my-4;
      figcaption {
        @apply mt-2 text-sm text-gray-500 dark:text-zinc-500;
      }
    }

    code[data-theme*=' '] span {
      color: var(--shiki-light);
    }
    &:where(.dark, .dark *) code[data-theme*=' '] span {
      color: var(--shiki-dark);
    }

    /* Inline code */
    :not(pre) > code {
      @apply relative rounded border border-gray-200 bg-gray-100 px-[0.3em] py-[0.05em] font-mono text-sm font-medium dark:border-zinc-700 dark:bg-zinc-900;
    }

    /* Code blocks via rehype-pretty-code */
    figure[data-rehype-pretty-code-figure] {
      @apply relative my-4;

      /* Code block titles */
      [data-rehype-pretty-code-title] {
        @apply break-words rounded-t-xl border-x border-t border-gray-200 px-4 py-2 text-sm font-medium dark:border-zinc-800;

        /* Remove top margin from code block if a title is present */
        & + pre {
          @apply mt-0 rounded-t-none;
        }
      }

      /* Code block styles */
      pre {
        @apply static max-h-[600px] overflow-auto rounded-xl border border-gray-200 bg-gray-50 py-4 text-sm leading-loose dark:border-zinc-800 dark:bg-zinc-900;

        /* Code block content */
        > code {
          @apply font-mono;
          counter-reset: line;

          /* For code blocks with line numbers */
          &[data-line-numbers] {
            > [data-line]::before {
              counter-increment: line;
              content: counter(line);
              @apply mr-4 inline-block w-4 text-right text-gray-500;
            }
          }

          /* For each line in the code block */
          > [data-line] {
            @apply px-4;
          }

          /* Highlighted lines */
          [data-highlighted-line] {
            @apply bg-gray-200 dark:bg-zinc-800;
          }

          /* Highlighted characters */
          [data-highlighted-chars] > span {
            @apply bg-gray-400/40 py-[0.3435em] dark:bg-zinc-500/40;
          }

          /* Diff lines */
          .diff {
            &.add {
              @apply bg-green-500/15 dark:bg-green-600/15;
            }
            &.remove {
              @apply bg-red-500/15 dark:bg-red-600/15;
            }
          }

          /* Copy button */
          > button:has(> span) {
            @apply right-0.5 top-0.5 m-0 size-8 cursor-pointer rounded-lg bg-gray-100 p-1 backdrop-blur-none transition-all dark:bg-zinc-800;
          }
        }
      }
    }
  }

  :where(.dark, .dark *) article figure[data-rehype-pretty-code-figure] pre > code[data-line-numbers] > [data-line]::before {
    color: var(--color-zinc-500);
  }

  /* Theme transition animation */
  .theme-transition::view-transition-old(root),
  .theme-transition::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
  }
  .theme-transition::view-transition-old(root) {
    z-index: 1;
  }
  .theme-transition::view-transition-new(root) {
    z-index: 9999;
  }
  .theme-transition:where(.dark, .dark *)::view-transition-old(root),
  .theme-transition.dark::view-transition-old(root) {
    z-index: 9999;
  }
  .theme-transition:where(.dark, .dark *)::view-transition-new(root),
  .theme-transition.dark::view-transition-new(root) {
    z-index: 1;
  }

  /* Header anchor links */
  a.header-anchor {
    @apply float-left -ml-[1.2em] mt-0.5 border-0 pr-2 text-sm opacity-0 no-underline;
  }

  a.header-anchor:hover,
  a.header-anchor:focus {
    @apply no-underline;
  }

  :is(h1, h2, h3, h4, h5, h6):is(:hover, :focus-within) .header-anchor {
     @apply opacity-50;
  }
}
