---

---

<div class="about prose">
  <p>
    I'm a developer and tinkerer. I work at PwC building digital solutions. I've
    been coding for more than 10 years, and I spend my nights chasing side
    projects and performance puzzles.
  </p>
  <p>
    My goal is to turn complex problems into <em>simple, well-crafted</em> software.
    I'm powered by coffee, tea, and a deep love of travel.
  </p>
</div>

<style>
  @reference "../../styles/global.css";

  .about:not(:empty) {
    @apply mb-5;
  }
</style>
