---

---

<div class="about prose">
  <p>
    I craft digital solutions at PwC by day, experiment with side projects by
    night. This space showcases my explorations in <em
      >code, performance optimizations</em
    >, and the occasional wild idea.
  </p>
  <p>Coffee, tea, and travel fuel the journey.</p>
</div>

<style>
  .about:not(:empty) {
    margin-bottom: 1.25rem;
  }
</style>
