---
import ThemeToggle from '@/components/ui/ThemeToggle.astro'
import config from '@/config'

const today = new Date()
---

<footer class="footer">
  <div class="footer-content">
    <div class="copyright">
      <span class="date">&copy; {today.getFullYear()}</span>
      {config.author.name}
    </div>
    <!-- <div class="theme-toggle">
      <ThemeToggle />
    </div> -->
  </div>
</footer>

<style>
  @reference "../../styles/global.css";

  .footer {
    @apply text-(length:--font-size-s) font-light leading-[1.75] mt-16 opacity-75 text-(--text-secondary);
  }

  .footer-content {
    @apply flex justify-between items-center flex-row flex-nowrap w-full;
  }

  .copyright,
  .theme-toggle {
    @apply whitespace-nowrap;
  }

  .copyright .date {
    @apply opacity-100;
  }
</style>
