---
import config from '@/constants/config'
---

<header class="flex items-center justify-between" transition:name="header">
  <a
    href="/"
    class="font-medium"
    style="color: var(--text-primary); text-decoration: none;"
  >
    {config.title}
  </a>
</header>
