---
import config from '@/constants/config'
---

<header class="flex items-center justify-between">
  <a
    href="/"
    class="font-medium no-underline"
    style="color: var(--text-primary);"
  >
    {config.title}
  </a>
</header>
