---
import config from '@/constants/config'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Page Not Found" description={config.description}>
  <div
    style="display: flex; flex-direction: column; justify-content: center; flex: 1;"
  >
    <h1
      style="font-size: var(--font-size-m); font-weight: var(--font-weight-bold); margin: 0 0 1rem;"
    >
      404 — Page Not Found
    </h1>
    <p style="color: var(--text-secondary);">Nice to meet you tho!</p>
  </div>
</Layout>
