---
import config from '@/constants/config'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="404" description={config.description}>
  <p class="mt-[1em] text-(--text-secondary)">Page Not Found…</p>
</Layout>
