---
import config from '@config'
import Layout from '@layouts/Layout.astro'
---

<Layout
  description={config.description}
  wrapperClassName="flex flex-col max-w-sm justify-center h-svh"
>
  <div>
    <h1 class="text-xl font-medium">
      404 - Page Not Found
    </h1>
  </div>
  <article>
    <p>Nice to meet you tho!</p>
  </article>
</Layout>
