---
import config from '@/config'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="404" description={config.description}>
  <p class="mt-[1em] text-secondary">Page Not Found…</p>
</Layout>
