---
import Name from '@/components/Name.astro'
import config from '@/config'
import Layout from '@/layouts/Layout.astro'

const pageUrl = new URL(Astro.url.pathname, Astro.site)

const structuredData = {
  '@/context': 'https://schema.org',
  '@/type': 'WebSite',
  'name': config.title,
  'alternateName': ['Vinh Dev', 'VP'],
  'url': pageUrl,
}
---

<Layout
  description={config.description}
  containerClass="flex flex-col max-w-sm justify-center h-svh"
  mainClass="space-y-6"
>
  <script type="application/ld+json" set:html={JSON.stringify(structuredData)} slot="structured-data" />
  <div class="space-y-6">
    <Name />
    <p>
      I build high-quality, performant, and accessible solutions at PwC, making
      work easier for others. But the most exciting ideas don't always fit in a
      9-to-5 box.
    </p>
    <p>
      This is my playground for side projects, experimental code, and insights
      from my development journey.
    </p>
    <p>Beyond code: coffee ☕, tea 🧋, and exploring new places 🚌</p>
  </div>
</Layout>

<style scoped>
  @reference "../styles/global.css";

  p {
    @apply my-4 text-gray-800 leading-snug dark:text-zinc-300;
  }
</style>
