---
import { getCollection } from 'astro:content'
import About from '@/components/widgets/About.astro'
import WritingList from '@/components/widgets/WritingList.astro'
import config from '@/config'
import Layout from '@/layouts/Layout.astro'
import { sortWritingsByDate } from '@/utils/writing'

const pageUrl = new URL(Astro.url.pathname, Astro.site)

const writings = await getCollection('writings')
const sortedWritings = sortWritingsByDate(writings)

const structuredData = {
  '@context': 'https://schema.org',
  '@type': 'WebSite',
  name: config.title,
  alternateName: ['Vinh Dev', 'VP'],
  url: pageUrl,
}
---

<Layout description={config.description}>
  <script
    type="application/ld+json"
    set:html={JSON.stringify(structuredData)}
    slot="structured-data"
  />
  <About />
  <main>
    <WritingList writings={sortedWritings} />
  </main>
</Layout>
