---
import Layout from "@/layouts/Layout.astro"
import Name from "@/components/Name.astro"
import config from "@/config"
---

<Layout
  description={config.description}
  className="flex h-svh max-w-sm flex-col justify-center"
>
  <style>
    /* Override header margin for homepage only */
    :global(header) {
      @apply mb-4;
    }
  </style>

  <main class="space-y-4">
    <Name />
    <p>
      I build high-quality, performant, and accessible solutions at PwC, making
      work easier for others. But the most exciting ideas don't always fit in a
      9-to-5 box.
    </p>
    <p>
      This is my playground for side projects, experimental code, and insights
      from my development journey.
    </p>
    <p>Beyond code: coffee ☕, tea 🧋, and exploring new places 🚌</p>
  </main>
</Layout>
