---
import config from '@/config'
import { cn } from '@/lib/utils'
import ThemeToggle from './ThemeToggle.vue'

interface Props {
  className?: string
}

const { className = 'mb-6' } = Astro.props
---

<header class={cn('flex items-center justify-between', className)} transition:name="header">
  <nav class="flex gap-4 items-center">
    {config.header.navLinks.map(link => (
      <a
        class="font-medium text-gray-500 hover:text-gray-900 hover:underline dark:text-zinc-500 dark:hover:text-zinc-100"
        href={link.href}
      >
          {link.text}
      </a>
    ))}
  </nav>
  <ThemeToggle client:load />
</header>
