---
import config from "@/config"
import ThemeToggle from "./ThemeToggle.vue"
import { cn } from "@/lib/utils";

interface Props {
  className?: string;
}

const { className = "mb-8" } = Astro.props
---

<header class={cn("flex items-center justify-between", className)} transition:name="header">
  <nav class="flex items-center gap-4">
    {config.header.navLinks.map((link) => (
      <a href={link.href}> {link.text} </a>
    ))}
  </nav>
  <ThemeToggle client:load />
</header>

<style>
  a {
    @apply font-medium text-gray-500 hover:text-gray-900 hover:underline dark:text-zinc-500 dark:hover:text-zinc-100;
  }
</style>
