---
import config from '@/config'
import ThemeToggle from './ThemeToggle.vue'
---

<header class="flex items-center justify-between" transition:name="header">
  <nav class="flex gap-4 items-center">
    {config.header.navLinks.map(link => (
      <a
        class="font-medium text-gray-500 hover:text-gray-900 hover:underline dark:text-zinc-500 dark:hover:text-zinc-100"
        href={link.href}
      >
          {link.text}
      </a>
    ))}
  </nav>
  <ThemeToggle client:load />
</header>
